<!DOCTYPE html>
<html>
  <head>
    <link  rel = "stylesheet"  href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag 'contact' %>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="top-bar">

          <div class="twitter-button background-imager">

          </div>
          <ul class="top-bar-list">
            <li class="top-bar-link">Swift - </li>
            <li class="top-bar-link">Objective-C - </li>
            <li class="top-bar-link">Ruby - </li>
            <li class="top-bar-link">html - </li>
            <li class="top-bar-link">CSS - </li>
            <li class="top-bar-link">Java - </li>
            <li class="top-bar-link">JavaScript</li>
          </ul>
        </div>

      </div>
    <div class="row">
      <div class="col-xs-12 col-md-4 profile-pic-column">
        <%= image_tag('jake.png', class: 'profile-pic') %>
      </div>
      <div class="col-xs-12 col-md-8 profile-pic-column">
        <h1 class="profile-description">iOS && FULLSTACK DEVELOPER.</h1>
        <h4 class="profile-description-detailed">

        </h4>
        <h3>LANGUAGES</h2>
          <h4 class="profile-description-detailed">Swift - Objective-C - Java - Javascript - Ruby - HTML - </h4>
          <!-- <a class="twitter-timeline" href="https://twitter.com/jakeofutah">Tweets by TwitterDev</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script> -->
      </div>
    </div>

  </div>
<blockquote>
  <p>The more you give it away, the more it comes back</p>
  <footer>Alan Watts</footer>
</blockquote>


  </body>
</html>
