<!DOCTYPE html>
<html>
  <head>
    <link  rel = "stylesheet"  href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag 'home_index' %>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cedarville+Cursive" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Pacifico" />

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Architects+Daughter" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Walter+Turncoat" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
  </head>
  <body onload="myMove()">

    <div class="container-fluid">
      <div class="top-bar">

        <div class="twitter-button background-imager">

        </div>
        <ul class="top-bar-list">
          <li class="top-bar-link">Swift - </li>
          <li class="top-bar-link">Objective-C - </li>
          <li class="top-bar-link">Ruby - </li>
          <li class="top-bar-link">html - </li>
          <li class="top-bar-link">CSS - </li>
          <li class="top-bar-link">Java - </li>
          <li class="top-bar-link">JavaScript</li>
        </ul>
      </div>
      <div class="row intro-row background-imager view-max-height">
        <div class="col-xs-6 col-md-6 col-xs-offset-3 col-md-offset-3 welcome-message-column">
          <h1 class="welcome-message box">
            JAKE HARDY
          </h1>
        </div>
        <div class="bottom-bar">
          <div class="samurai-container">
            <div id="samurai" class="samurai background-imager">
              <script src="samurai.js"></script>
            </div>
          </div>
          <ul class="bottom-bar-list-right">
            <li class="bottom-bar-link"><a href="/posts">PORTFOLIO</a></li>
            <li class="bottom-bar-link"><a href="/posts">MANA</a></li>
            <li class="bottom-bar-link"><a href="/image_posts_consume">PHOTOGRAPHY</a></li>
            <li class="bottom-bar-link"><a href="/contact">CONTACT</a></li>
          </ul>
        </div>
        <!-- <div class="bottom-bar">

        </div> -->
      </div>
    </div>

  </body>
</html>
