<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/authenticate" method="post">
      <input type="text" name="paz">
      <input name="authenticity_token" type="hidden" value="token_value">
      <button type="submit" name="button"></button>
    </form>
  </body>
</html>
